
div
  input(autocapitalize="off",autocorrect="off",class="form-control",data-val="true", data-val-maxlength-max="255",data-val-minlength-min="3",id="Account",maxlength="255", name="Account", placeholder="email address or username", spellcheck="false", type="email", value="")

  span(class="input-group-btn")
      button(class="btn btn-primary btn-lg", type="submit", id="searchPwnage") search
  p test