extends layout

block content
  nav(class="navbar navbar-default navbar-fixed-top")
  .container

    div(ng-view)


  script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-route.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
  script(src='/javascripts/app/app.js')
  script(src='/javascripts/app/controllers.js')
  script(src='/javascripts/app/filters.js')
  script(src='/javascripts/app/services.js')
  script(src='/javascripts/app/directives.js')
