doctype html
html(ng-app="DumpChecker")
  head
    title="DumpChecker API"
    base(href='/')
    link(rel='stylesheet', href='/stylesheets/custom.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-superhero.min.css')
    link(href='http://fonts.googleapis.com/css?family=Roboto',rel='stylesheet',type='text/css')
  body
    block content


